body{
    font-family: monospace;
    font-size: 16px;
    color: rgb(27, 27, 27);
    background-color: goldenrod;
    margin: auto;
    overflow: hidden;
}

.container{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.inputhandler{
    flex: 1;
    text-align: center;
}

#chatarea{
    overflow-y: auto;
    height: 90vh;
    margin-top: 10px;
    background-color: gold;
}

#messages{
    padding: 20px;
}

#chatinput{
    font-size: 2.25ch;
    margin: 0px;
    width: 100%;
    border: 1px solid gold;
    background-color: rgb(255, 249, 213);
}

::placeholder {
    color: goldenrod;
}

#info {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }